################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/futarszolgalat/.vs
/.vs/projektfutar/v17
